postgresql:
  postgresql:
    user: "postgres"
    port: "5432"
    password: ""
    name: "postgres"
  persistence:
    size: "1Gi"
rabbitmq:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      namespace: prod
      interval: 30s
      default:
        enabled: true
      perObject:
        enabled: true
      detailed:
        enabled: true
      labels:
        release: homelab
  auth:
    username: myuser
    password: mypassword
kube-prometheus-stack:
  grafana:
    adminUser: admin
    adminPassword: password
  prometheus:
    prometheusSpec:
      additionalScrapeConfigs:
        - job_name: "infraapi"
          static_configs:
            - targets:
                - "infraapi:8080"
          metrics_path: /metrics
        - job_name: "apigateway"
          static_configs:
            - targets:
                - "apigateway:8080"
          metrics_path: /metrics
minio:
  mode: distributed
  persistence:
    size: 10Gi
  resources:
    requests:
      memory: 1Gi
  rootUser: "user"
  rootPassword: "password"
  service:
    type: ClusterIP
gitea:
  namespace: prod
  deployment:
    env:
    - name: ALLOWED_HOST_LIST
      value: "*"
  gitea:
    admin:
      username: admin
      password: password
      email: "kowalewski.ke@gmail.com"
global:
  security:
    allowInsecureImages: true
